<launch>
    <include file="$(find localization)/launch/localization.launch" />
    <param name="target_angle_degrees" value="10.0" />
    <node name="balance" pkg="balance" type="balance_node" output="screen"/>
    <node name="gpio" pkg="gpio" type="gpio_node.py" />

    <node name="pid_controller" pkg="pid" type="controller" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="1" />
      <param name="lower_limit" value="-1" />
      <param name="windup_limit" value="0.5" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      
      <!-- <param name="pid_enable_topic" value="/balancing" /> -->
      <remap from="setpoint" to="angle_setpoint" />

      <!-- Might be able to do this instead of the next line: <remap from="state" to="angle_error" /> -->
      <param name="topic_from_plant" value="angle_error"/>
      <!-- <param name="topic_from_controller" value="set_speed_left_motor" /> -->
    </node>
</launch>
